<%= form_with model: recipe, url: form_path, class: "form", data: { controller: "trix" } do |form| %>
  <div class="col-12 mb-3">
    <label for="name" class="form-label mb-1">Recipe Name</label>
    <%= form.text_field :name, class: "form-control rounded-pill", required: true %>
  </div>
  <div class="col-12 d-flex gap-3 mb-3">
    <div class="w-100">
      <%= form.label :number_of_servings, class: "form-label mb-2" %>
      <%= form.number_field :number_of_servings, min: 0, value: recipe.number_of_servings || 0, class: "form-control rounded-pill", required: true %>
    </div>
    <div class="w-100 d-flex flex-column justify-content-end">
      <%= form.label :preparation_time, class: "form-label mb-2" %>
      <%= form.time_field :preparation_time, class: "form-control rounded-pill", required: true %>
    </div>
  </div>
  <div class="col-12 mb-3">
    <label for="recipe_image" class="form-label mb-2">Main Image</label>
    <div class="upload-file rounded-pill" data-controller="image">
      <div class="file-name" data-image-target="fileName"></div>
      <div class="open-file-btn">
        <%= button_tag "Browse", type: :button, class: "btn btn-primary btn-sm px-3 rounded-pill" %>
      </div>
      <%= form.file_field :image, accept: 'image/jpeg, image/png, image/jpg', class: "col-12 btn btn-primary rounded-pill", data: { action: "change->image#upload" } %>
    </div>
  </div>
  <div class="col-12 mb-3">
    <%= form.label :ingredients, class: "form-label mb-2" %>
    <%= form.rich_text_area :ingredients, class: "form-control", required: true %>
  </div>
  <div class="col-12 mb-3">
    <%= form.label :procedure, class: "form-label mb-2" %>
    <%= form.rich_text_area :procedure, class: "form-control", required: true %>
  </div>

  <div class="col-12 footer py-3">
    <% if action_name == "new" %>
      <%= form.submit "Publish Recipe", class: "btn btn-primary rounded-pill" %>
    <% else %>
      <%= link_to "Cancel edit", cancel_path, class: "btn bg-transparent border-0 rounded-pill px-4 me-3 #{transparent_button}",
        data: {
          action: "click->recipes--update#showCancelModal"
        } 
      %>
      <%= form.submit "Save changes", class: "btn btn-primary rounded-pill px-3", 
        data: {
          action: "click->recipes--update#saveChanges"
        } 
      %>
    <% end %>
  </div>
<% end %>