<div class="recipes-home py-md-5 px-3 px-xxl-0" data-controller="recipes--home">
  <div class="container py-5 h-100">
    <h2 class="mb-2 mb-sm-3">Hi, <%= current_user.name %>!</h2>
    <h4 class="recipe-feed-caption">This is your Recipe Collection</h4>
  
    <div class="d-flex justify-content-center justify-content-sm-between mt-5" id="recipes-tab" role="tablist">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <button data-recipes--home-target="ownRecipesTab" data-action="click->recipes--home#selectRecipesTab" 
            class="nav-link <%= "active" if params[:active_tab].in?(["own_recipes", nil]) %>" id="own-recipes-tab" 
            data-bs-toggle="pill" data-bs-target="#own-recipes" type="button" role="tab" aria-controls="own-recipes-tab" aria-selected="true">
            Own Recipes
          </button>
        </li>
        <li class="nav-item">
          <button data-recipes--home-target="othersRecipesTab" data-action="click->recipes--home#selectRecipesTab" 
            class="nav-link <%= "active" if params[:active_tab] == "others_recipes" %>" id="others-recipes-tab" 
            data-bs-toggle="pill" data-bs-target="#others-recipes" type="button" role="tab" aria-controls="others-recipes-tab" aria-selected="true">
            Others' Recipes
          </button>
        </li>
      </ul>

      <%= link_to "New Recipe", new_recipe_path, class: "btn btn-primary rounded-pill px-4 d-none d-sm-block", data: { recipes__home_target: "newRecipeBtn" } %>
    </div>

    <div class="tab-content" id="recipes-tabContent">
      <div class="tab-pane fade <%= "show active" if params[:active_tab].in?(["own_recipes", nil]) %>" id="own-recipes" role="tabpanel" aria-labelledby="own-recipes-tab">
        <div class="recipe-collection row py-5 gy-3">
          <% @own_recipes.each do |recipe| %>
            <%= link_to recipe_path(recipe), class: "col-12 col-md-6 col-lg-4 col-xl-3 text-decoration-none px-0" do %>
              <div class="recipe-container mx-auto">
                <div class="recipe-image" style="background: url(<%= url_for(recipe.image) if recipe.image.present? %>) no-repeat center"></div>
                <h4 class="mt-2 fw-semibold border-start border-secondary border-4 ps-2"><%= recipe.name %></h4>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="d-flex justify-content-center justify-content-sm-end">
          <%== pagy_bootstrap_nav(@own_recipes_pagy) if @own_recipes.present? %>
        </div>
      </div>
      <div class="tab-pane fade <%= "show active" if params[:active_tab] == "others_recipes" %>" id="others-recipes" role="tabpanel" aria-labelledby="others-recipes-tab">
        <div class="recipe-collection row py-5 gy-3">
          <% @others_recipes.each do |recipe| %>
            <%= link_to recipe_path(recipe), class: "col-12 col-md-6 col-lg-4 col-xl-3 text-decoration-none px-0" do %>
              <div class="recipe-container mx-auto">
                <div class="recipe-image" style="background: url(<%= url_for(recipe.image) if recipe.image.present? %>) no-repeat center"></div>
                <h4 class="mt-2 fw-semibold border-start border-secondary border-4 ps-2"><%= recipe.name %></h4>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="d-flex justify-content-center justify-content-sm-end">
          <%== pagy_bootstrap_nav(@others_recipes_pagy) if @others_recipes.present? %>
        </div>
      </div>
    </div>
  </div>
</div>