<div class="recipe">
  <div class="recipe-img" style="background: url(<%= "https://placehold.co/1920x520" %>)">
    <div class="container py-3 py-sm-5 h-100 d-flex">
      <div class="d-flex flex-column h-100 flex-grow-1 mx-3 mx-xxl-0">
        <div class="d-flex justify-content-between">
          <%= link_to "#", class: "return text-white" do %>
            <%= image_tag "arrow-left.svg", class: "icon d-block", alt: "return" %>
            Back to Feed
          <% end %>

          <div class="d-flex d-sm-none justify-content-end align-items-end gap-2">
            <%= link_to "#", class: "edit-btn-mobile btn btn-outline-light rounded-circle" do %>
              <%= image_tag "pen.svg", class: "d-block", alt: "edit icon" %>
            <% end %>
            <%= link_to "#", class: "delete-btn-mobile btn btn-outline-primary rounded-circle" do %>
              <%= image_tag "trash.svg", class: "d-block", alt: "delete icon" %>
            <% end %>
          </div>
        </div>
        <div class="d-flex mt-auto w-100">
          <div class="col-12">
            <div class="name text-white">Steamed Salmon</div>
            <p class="author text-white mb-2">by Bee Yin Low</p>
            <div class="d-flex gap-4 text-secondary">
              <div class="servings d-flex align-items-center gap-2 me-3">
                <%= image_tag "utensils.svg", class: "icon d-block", alt: "servings icon" %>
                4 Servings
              </div>
              <div class="preparation-time d-flex align-items-center gap-2">
                <%= image_tag "stopwatch.svg", class: "icon d-block", alt: "cooking time icon" %>
                30 Minutes
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none d-sm-flex justify-content-end align-items-end gap-3">
        <%= link_to "#", class: "edit-btn btn btn-outline-light rounded-pill d-flex justify-content-between align-items-center gap-2" do %>
          Edit <%= image_tag "pen.svg", class: "icon d-block", alt: "edit icon" %>
        <% end %>
        <%= link_to "#", class: "delete-btn btn btn-outline-primary rounded-pill d-flex justify-content-between align-items-center gap-2" do %>
          Delete <%= image_tag "trash.svg", class: "icon d-block", alt: "delete icon" %>
        <% end %>
      </div>
    </div>
    <div class="content">
      <div class="container py-4 py-sm-5 my-3">
        <div class="row">
          <div class="col-12 col-sm-4">
            <h2 class="text-primary">Ingredients</h2>
            <div class="col-12 py-4">
              <h3>Main Ingredients</h3>
            </div>
          </div>
          <div class="col-12 col-sm-8">
            <h2 class="text-primary">Procedure</h2>
            <div class="col-12 py-4">
              <h3>Step 1 - Prep Salmon</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>