<div class="sign-up">
  <div class="container h-100 px-3 px-xxl-0">
    <div class="col-12 col-md-5 h-100">
      <div class="h-100 d-flex flex-column justify-content-center">
        <div class="title d-flex flex-column px-4 px-sm-0">
          <div class="content text-primary">Sign up to
            <%= image_tag "cooky.svg", class:"logo", alt: "cooky logo" %>
          </div>
        </div>

        <div class="form text-primary mt-5 px-4 px-sm-0">
          <%= form_with do |form| %>
            <div class="col-12 col-md-6 mb-3">
              <%= form.label :name, class: "form-label mb-1" %>
              <%= form.text_field :name, class: "form-control rounded-pill", required: true %>
            </div>

            <div class="col-12 col-md-6 mb-3">
              <%= form.label :email_address, class: "form-label mb-1" %>
              <%= form.email_field :email_address, class: "form-control rounded-pill", required: true %>
            </div>

            <div class="col-12 col-md-6 mb-3">
              <label for="password" class="form-label mb-1">Password</label>
              <div class="password">
                <input type="password" class="form-control rounded-pill" id="password">
                <%= button_tag type: :button, class: "icon" do %>
                  <%= image_tag "eye.svg", alt: "show password" %>
                <% end %>
              </div>
              <span class="is-invalid">Password must contain at least 8 characters</span>
            </div>

            <div class="col-12 col-md-6 mb-4">
              <label for="password_confirmation" class="form-label mb-1">Repeat Password</label>
              <div class="password">
                <input type="password" class="form-control rounded-pill" id="password_confirmation">
                <%= button_tag type: :button, class: "icon" do %>
                  <%= image_tag "eye.svg", alt: "show password" %>
                <% end %>
              </div>
              <span class="is-invalid">Passwords do not match</span>
            </div>

            <div class="mb-4">      
              <div class="form-check mb-2 mb-sm-3">
                <%= form.label :agreed_to_terms_and_conditions, class: "form-check-label text-dark" do %>
                  I agree to the Terms and Conditions
                <% end %>
                <%= form.check_box :agreed_to_terms_and_conditions, class: "form-check-input", required: true %>
              </div>

              <div class="form-check">
                <%= form.label :agreed_to_privacy_and_policy, class: "form-check-label text-dark" do %>
                  I agree to the Privacy Policy
                <% end %>
                <%= form.check_box :agreed_to_privacy_and_policy, class: "form-check-input", required: true %>
              </div>
            </div>

            <div class="col-12 col-md-6 mb-4">
              <%= form.submit "Sign Up", class: "btn btn-primary rounded-pill w-100" %>
            </div>

            <div class="footer text-center text-sm-start">
              <div class="text-dark">Already have an account?</span>
              <%= link_to "Log In instead", sessions_path, class: "fw-bold" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>