<!DOCTYPE html>
<html>
  <head>
    <title>Cooky</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <!-- light-mode will be the default theme if cookies[:theme] is empty -->
  <body class="<%= cookies[:theme] || "light-mode" %>">
    <main class="d-flex flex-column vh-100">
      <%= render "layouts/common/navbar" %>
      <%= yield %>
    </main>
    <%= render "layouts/common/dialog" %>
  </body>
</html>
